Yfinance and TA-Lib Analysis

In [22]:
import yfinance as yf 
import matplotlib.pyplot as plt 
import plotly.express as px
import pandas as pd

In [10]:
import pandas as pd

# Load the CSV file into a DataFrame
tickers = pd.read_csv(R'C:\Users\MMM\Documents\10 Academy File\KAIM-Week-12\data\yfinance_data\MSFT_historical_data.csv')

# Display the first few rows of the DataFrame
print(tickers.head())

         Date      Open      High       Low     Close  Adj Close      Volume  \
0  1986-03-13  0.088542  0.101563  0.088542  0.097222   0.059946  1031788800
1  1986-03-14  0.097222  0.102431  0.097222  0.100694   0.062087   308160000
2  1986-03-17  0.100694  0.103299  0.100694  0.102431   0.063158   133171200
3  1986-03-18  0.102431  0.103299  0.098958  0.099826   0.061552    67766400
4  1986-03-19  0.099826  0.100694  0.097222  0.098090   0.060482    47894400

   Dividends  Stock Splits
0        0.0           0.0
1        0.0           0.0
2        0.0           0.0
3        0.0           0.0
4        0.0           0.0

In [11]:
msft  = yf.Ticker('MSFT')

In [12]:
msft.info

{'address1': 'One Microsoft Way',
 'city': 'Redmond',
 'state': 'WA',
 'zip': '98052-6399',
 'country': 'United States',
 'phone': '425 882 8080',
 'website': 'https://www.microsoft.com',
 'industry': 'Software - Infrastructure',
 'industryKey': 'software-infrastructure',
 'industryDisp': 'Software - Infrastructure',
 'sector': 'Technology',
 'sectorKey': 'technology',
 'sectorDisp': 'Technology',
 'longBusinessSummary': 'Microsoft Corporation develops and supports software, services, devices and solutions worldwide. The Productivity and Business Processes segment offers office, exchange, SharePoint, Microsoft Teams, office 365 Security and Compliance, Microsoft viva, and Microsoft 365 copilot; and office consumer services, such as Microsoft 365 consumer subscriptions, Office licensed on-premises, and other office services. This segment also provides LinkedIn; and dynamics business solutions, including Dynamics 365, a set of intelligent, cloud-based applications across ERP, CRM, power apps, and power automate; and on-premises ERP and CRM applications. The Intelligent Cloud segment offers server products and cloud services, such as azure and other cloud services; SQL and windows server, visual studio, system center, and related client access licenses, as well as nuance and GitHub; and enterprise services including enterprise support services, industry solutions, and nuance professional services. The More Personal Computing segment offers Windows, including windows OEM licensing and other non-volume licensing of the Windows operating system; Windows commercial comprising volume licensing of the Windows operating system, windows cloud services, and other Windows commercial offerings; patent licensing; and windows Internet of Things; and devices, such as surface, HoloLens, and PC accessories. Additionally, this segment provides gaming, which includes Xbox hardware and content, and first- and third-party content; Xbox game pass and other subscriptions, cloud gaming, advertising, third-party disc royalties, and other cloud services; and search and news advertising, which includes Bing, Microsoft News and Edge, and third-party affiliates. The company sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online, and retail stores. The company was founded in 1975 and is headquartered in Redmond, Washington.',
 'fullTimeEmployees': 228000,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Satya  Nadella',
   'age': 56,
   'title': 'Chairman & CEO',
   'yearBorn': 1967,
   'fiscalYear': 2024,
   'totalPay': 7869791,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Bradford L. Smith LCA',
   'age': 64,
   'title': 'President & Vice Chairman',
   'yearBorn': 1959,
   'fiscalYear': 2024,
   'totalPay': 4755618,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Amy E. Hood',
   'age': 51,
   'title': 'Executive VP & CFO',
   'yearBorn': 1972,
   'fiscalYear': 2024,
   'totalPay': 4704250,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Judson B. Althoff',
   'age': 50,
   'title': 'Executive VP & Chief Commercial Officer',
   'yearBorn': 1973,
   'fiscalYear': 2024,
   'totalPay': 4534974,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Christopher David Young',
   'age': 51,
   'title': 'Executive Vice President of Business Development, Strategy & Ventures',
   'yearBorn': 1972,
   'fiscalYear': 2024,
   'totalPay': 2993772,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Carolina  Dybeck Happe',
   'age': 51,
   'title': 'Executive VP & COO',
   'yearBorn': 1972,
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Alice L. Jolla',
   'age': 57,
   'title': 'Corporate VP & Chief Accounting Officer',
   'yearBorn': 1966,
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. James Kevin Scott',
   'age': 51,
   'title': 'Executive VP of AI & CTO',
   'yearBorn': 1972,
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Brett  Iversen',
   'title': 'Vice President of Investor Relations',
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Hossein  Nowbar',
   'title': 'Chief Legal Officer',
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 3,
 'boardRisk': 4,
 'compensationRisk': 2,
 'shareHolderRightsRisk': 2,
 'overallRisk': 1,
 'governanceEpochDate': 1730419200,
 'compensationAsOfEpochDate': 1735603200,
 'irWebsite': 'http://www.microsoft.com/investor/default.aspx',
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 415.76,
 'open': 413.647,
 'dayLow': 411.55,
 'dayHigh': 414.0,
 'regularMarketPreviousClose': 415.76,
 'regularMarketOpen': 413.647,
 'regularMarketDayLow': 411.55,
 'regularMarketDayHigh': 414.0,
 'dividendRate': 3.32,
 'dividendYield': 0.008,
 'exDividendDate': 1732147200,
 'payoutRatio': 0.2477,
 'fiveYearAvgDividendYield': 0.88,
 'beta': 0.904,
 'trailingPE': 34.209915,
 'forwardPE': 27.406166,
 'volume': 4709722,
 'regularMarketVolume': 4709722,
 'averageVolume': 19445173,
 'averageVolume10days': 22972920,
 'averageDailyVolume10Day': 22972920,
 'bid': 413.71,
 'ask': 416.97,
 'bidSize': 100,
 'askSize': 400,
 'marketCap': 3077594152960,
 'fiftyTwoWeekLow': 362.9,
 'fiftyTwoWeekHigh': 468.35,
 'priceToSalesTrailing12Months': 12.107456,
 'fiftyDayAverage': 422.544,
 'twoHundredDayAverage': 421.70645,
 'trailingAnnualDividendRate': 3.08,
 'trailingAnnualDividendYield': 0.0074081197,
 'currency': 'USD',
 'enterpriseValue': 3109535088640,
 'profitMargins': 0.35608003,
 'floatShares': 7424694989,
 'sharesOutstanding': 7434880000,
 'sharesShort': 62516096,
 'sharesShortPriorMonth': 59527028,
 'sharesShortPreviousMonthDate': 1727654400,
 'dateShortInterest': 1730332800,
 'sharesPercentSharesOut': 0.0084,
 'heldPercentInsiders': 0.00056,
 'heldPercentInstitutions': 0.73557,
 'shortRatio': 3.28,
 'shortPercentOfFloat': 0.0084,
 'impliedSharesOutstanding': 7647889920,
 'bookValue': 38.693,
 'priceToBook': 10.698059,
 'lastFiscalYearEnd': 1719705600,
 'nextFiscalYearEnd': 1751241600,
 'mostRecentQuarter': 1727654400,
 'earningsQuarterlyGrowth': 0.107,
 'netIncomeToCommon': 90511998976,
 'trailingEps': 12.1,
 'forwardEps': 14.95,
 'lastSplitFactor': '2:1',
 'lastSplitDate': 1045526400,
 'enterpriseToRevenue': 12.233,
 'enterpriseToEbitda': 22.772,
 '52WeekChange': 0.11442888,
 'SandP52WeekChange': 0.29867196,
 'lastDividendValue': 0.75,
 'lastDividendDate': 1723680000,
 'exchange': 'NMS',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'underlyingSymbol': 'MSFT',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'firstTradeDateEpochUtc': 511108200,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EST',
 'uuid': 'b004b3ec-de24-385e-b2c1-923f10d3fb62',
 'messageBoardId': 'finmb_21835',
 'gmtOffSetMilliseconds': -18000000,
 'currentPrice': 413.94,
 'targetHighPrice': 600.0,
 'targetLowPrice': 420.0,
 'targetMeanPrice': 504.76813,
 'targetMedianPrice': 500.0,
 'recommendationMean': 1.42593,
 'recommendationKey': 'strong_buy',
 'numberOfAnalystOpinions': 48,
 'totalCash': 78429003776,
 'totalCashPerShare': 10.549,
 'ebitda': 136551997440,
 'totalDebt': 96838000640,
 'quickRatio': 1.163,
 'currentRatio': 1.301,
 'totalRevenue': 254189993984,
 'debtToEquity': 33.657,
 'revenuePerShare': 34.202,
 'returnOnAssets': 0.14592,
 'returnOnEquity': 0.35604,
 'freeCashflow': 61280874496,
 'operatingCashflow': 122144997376,
 'earningsGrowth': 0.104,
 'revenueGrowth': 0.16,
 'grossMargins': 0.69348997,
 'ebitdaMargins': 0.53720003,
 'operatingMargins': 0.46583998,
 'financialCurrency': 'USD',
 'trailingPegRatio': 2.1981}

In [13]:
hist = msft.history(period = "max")
hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13 00:00:00-05:00,0.054594,0.062623,0.054594,0.059946,1031788800,0.0,0.0
1986-03-14 00:00:00-05:00,0.059947,0.063158,0.059947,0.062087,308160000,0.0,0.0
1986-03-17 00:00:00-05:00,0.062087,0.063694,0.062087,0.063158,133171200,0.0,0.0
1986-03-18 00:00:00-05:00,0.063158,0.063694,0.061017,0.061552,67766400,0.0,0.0
1986-03-19 00:00:00-05:00,0.061552,0.062087,0.059946,0.060482,47894400,0.0,0.0

In [14]:
hist.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-11-12 00:00:00-05:00,418.250000,424.440002,417.200012,423.029999,19401200,0.0,0.0
2024-11-13 00:00:00-05:00,421.640015,429.329987,418.209991,425.200012,21502200,0.0,0.0
2024-11-14 00:00:00-05:00,425.000000,428.170013,420.000000,426.890015,30246900,0.0,0.0
2024-11-15 00:00:00-05:00,419.820007,422.799988,413.640015,415.000000,28247600,0.0,0.0
2024-11-18 00:00:00-05:00,414.869995,418.399994,412.100006,415.760010,24727000,0.0,0.0

In [15]:
hist.describe()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
count,9750.000000,9750.000000,9750.000000,9750.000000,9.750000e+03,9750.000000,9750.000000
mean,55.636180,56.188596,55.060037,55.646053,5.648524e+07,0.003035,0.001744
std,95.442099,96.304377,94.503213,95.446385,3.813331e+07,0.046952,0.057712
min,0.054594,0.056735,0.054594,0.055665,2.304000e+06,0.000000,0.000000
25%,3.580339,3.633328,3.526146,3.585156,3.165120e+07,0.000000,0.000000
50%,19.222344,19.483125,19.043146,19.232699,4.965500e+07,0.000000,0.000000
75%,39.564915,39.928964,39.203571,39.659272,7.038995e+07,0.000000,0.000000
max,466.159796,467.507368,463.624357,466.718781,1.031789e+09,3.080000,2.000000

In [16]:
import pandas as pd

# Load the CSV file
hist = pd.read_csv(r'C:\Users\MMM\Documents\10 Academy File\KAIM-Week-12\data\yfinance_data\MSFT_historical_data.csv')

# Check the column names
print(hist.columns)

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',
       'Dividends', 'Stock Splits'],
      dtype='object')

In [17]:
# For example, if the column is named 'Date'
hist['Date'] = pd.to_datetime(hist['Date'])

In [25]:
import talib

# Example calculations
hist['SMA_20'] = talib.SMA(hist['Close'], timeperiod=20)  # 20-day SMA
hist['RSI_14'] = talib.RSI(hist['Close'], timeperiod=14)  # 14-day RSI
hist['MACD'], hist['MACD_signal'], hist['MACD_hist'] = talib.MACD(hist['Close'])